{% extends "home.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href='{{ asset("css/student-home.css") }}'>
{% endblock %}

{% block title %}Home{% endblock %}

{% block navbar %}
    <a href=""><li><i class="fa fa-user fa-2x"></i></li></a></li>
{% endblock %}

{% block page_header %}
<div class="switch">
    <div class="selected">
        <label for="current">Current</label>
        <input type="radio" checked="checked" name="filter" id="current">
    </div>
    <div>
        <label for="closed">Closed</label>
        <input type="radio" name="filter" id="closed">
    </div>
</div>
{% endblock %}

{% block card_content %}

{% endblock %}