.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-template-rows: auto;
    place-items: center;
    place-self: center;
    justify-content: center;
}

.card {
    width: fit-content;
    height: fit-content;
    min-width: 8em;
    min-height: 8em;
    background-color: rgba(250, 250, 250, 255);
    margin: 2em;
    padding: .75em;
    border-radius: .5em;
    box-shadow: rgba(0, 0, 0, 0.253) 0px 2px 2px 0px;
    cursor: pointer;
}