.table{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    max-width: 50em;
    padding: 2em;
    border-radius: 1em;
    background-color: #222831;
}
.imports{
    width: 100%;
    color: white;
    border-radius: .25em;
    border-color: white;
}

.btn-start div input{
    margin: 0 0.5em;
}



#userButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
}

tr{
    margin-bottom: 2em;
}

#mainHeader{
    width: 40%;
}

#secondHeader{
    display: block;
    width: 100%;
    height: 52.8px;
}

#editBtns{
    display: flex;
    gap: 1em;
    float: right;
}

#groupName{
    float: left;
}

#deletebtn{
    color: rgba(225, 49, 49, 1);
}

#secondHeader div i{
    display: inline-block;
    cursor: pointer;
}

th{
    padding-bottom: 1.5em;
    font-size: larger;
    font-weight: bolder;
    border-bottom: 2px solid #ddd;
} 

td {
    border-bottom: 2px solid #ddd;
    padding: .5em;
    font-size: larger;
    font-weight: bolder;
}
input[type="checkbox"] {
    width: 2em;
    height: 2em;
    accent-color: green;
}
        
.btn-start{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em;
    text-align: end;
}

.start{
    border-radius: .25em;
    padding: .4em;
    font-size: large;
    font-weight: bold;
    background-color: white;
    color: #222831;
    border: none;
}
.start:hover{
    cursor: pointer;
}

.types-check{
    color: rgb(55, 156, 55);
}
.types-mark{
    color: rgb(196, 59, 59);
}
.types-rotate{
    color: rgb(196, 196, 77);
}

.name{
    text-align: end;
}


input.delete{  
    border-radius: .25em;
    padding: .4em;
    font-size: large;
    font-weight: bold;
    background-color: #3d495c;
    color: rgba(225, 49, 49, 1);
    border: none;
}
input.delete:hover{
    cursor: pointer;
}

input.addNew{
    border-radius: .25em;
    padding: .4em;
    font-size: large;
    font-weight: bold;
    background-color: #3d495c;
    color: rgba(166, 219, 88, 0.853);
    border: none;
}

input.addNew:hover{
    cursor: pointer;
}