body {
    height: 100vh;
}

main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    min-width: 400px;
    max-width: 800px;
    display: block;
    background-color: #222831;
    padding: 20px 30px;
    border-radius: 10px;
}

form textarea, form select {
    border-radius: 5px;
    padding: 10px;
    font-size: 24px;
    border: none;
}

form input {
    border-radius: .30em;
    border: none;
    background-color: white;
    color: #222831;
    padding: .35em;
    font-size: 20px;
}

form input[type="submit"] {    
    font-family: 'Arial';
    font-size: larger;
    font-weight: bolder;
    border-radius: .30em;
    border: none;
    background-color: #1d3355;
    color: rgba(166, 219, 88, 0.853);
    padding: .35em;
    cursor: pointer;
}

form textarea {
    resize: none;
}

.form-title {
    color:white;
    font-weight: bolder;
    font-family: 'Helvetica';
    text-align: center;
    margin-bottom: .5em;
}

.input-texts {
    color:white;
    font-weight: bolder;
    font-family: 'Helvetica';
    margin-bottom: .5em;
    text-align: left;
}

.content {
    text-align: center;
    width: fit-content;
    margin: auto;
}