.button-r{
    border-radius: .3em;
    border-color: rgb(158, 158, 158);
    padding: .3em;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 0.90em;
    margin-top: 0.4em;
    min-width: 70%;
    background-color: #3d495c;
    color: white;
}

.button-d{
    border-radius: .3em;
    border-color: rgb(158, 158, 158);
    padding: .3em;
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 0.90em;
    margin-top: 0.4em;
    min-width: 70%;
    background-color: #3d495c;
    color: rgba(205, 79, 79, 0.764);
}

.addGroup{
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-right: 1em;
}

.newG{
    border-radius: .3em;
    border-color: rgb(158, 158, 158);
    padding: .3em;
    font-family: "Helvetica";
    font-weight: bolder;
    font-size: 0.90em;
    background-color: #3d495c;
    color: rgba(166, 219, 88, 0.853);
    max-width: 30%;
    width: 3%;
    justify-content: end;
}

.group-name{
    color: black;
}

.buttons{
    margin-top: .5em;
    margin-bottom: .25em;
}



.popup{
    width: 400px;
    background-color: silver;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    color: #333;
}

.open-popup{
    width: 400px;
    background-color: silver;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    visibility: visible;
}