main {
    padding: 20px 50px;
}

main .switch {
    display: flex;
    justify-content: end;
}

main .switch input[type="radio"] {
    display: none;
}

main .switch > div {
    display: flex;
    align-items: center;
    color: #212121;
    font-size: 20px;
    padding: 3px 7px;
}

main .switch > div > *, main .switch > div {
    cursor: pointer;
}

main .switch > div:nth-child(1) {
    border: 1px solid #656565;
    border-right: none;
    border-radius: 5px 0 0 5px;
}

main .switch > div:nth-child(2) {
    border: 1px solid #656565;
    border-radius: 0 5px 5px 0;
    border-left: none;
}

body main .switch > .selected {
    background-color: #222831;
    color: white;
    border: none;
}

.card {
    padding: .75em 1.25em;
}

.desc-container{
    padding-right: 1em;    
}

.desc-container:nth-child(2) {
    border-radius: 5px;
}

.desc-container > .title-desc {
    font-size: 24px;
    font-weight: 600;
}

.desc-container .group-desc {
    font-size: 14px;
    color: #212121;
}

.desc-container .softdate-desc {
    background-color: #222831;
    color: white;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.desc-container .harddate-desc {
    background-color: #222831;
    color: white;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.desc-container .harddate-desc > div, .desc-container .softdate-desc > div {
    color: darkgreen;
}

.desc-container:nth-child(2) > div {
    border: 1px solid #222831;
    border-radius: 5px;
    margin: 7% auto;
    text-align: center;
}

.desc-container > div .out-of-date {
    color: crimson;
}

.date {
    padding: 0 10px;
    font-size: 20px;
}