*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica';
    outline: none;
}

.navbar{
    background-color: #222831;
    box-shadow: 0 0 50px 0 grey;
}

.navbar ul{
    display: flex;
    justify-content: right;
    list-style-type: none;
}

.navbar li{
    color: white;
    width: auto;
    text-align: center;
    padding: 2em 1em;
    transition-duration: 0.3s;
}

.navbar li:hover{
    color: grey;
}

a{
    text-decoration: none;
}

#navtext{
    color: white;
    position: absolute;
    padding: 1.5em 2em;
}

.navbar > ul > ul h2 {
    font-size: 20px;
}