form {
    width: 40%;
    max-width: 600px;
}

.content .content-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content .content-header > select {
    font-size: 20px;
    padding: 5px;
}

.textarea-conainer textarea {
    width: 100%;
    height: 200px;
    font-size: 20px;
}

.content h2 {
    color: white;
    width: fit-content;
}

.content input[type="submit"] {
    margin-top: 5px;
}

.fa-pencil {
    cursor: pointer;
}

.fa-pencil:hover {
    color: lightgray;
}