{% extends "home.html.twig" %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/collection-imports.css">
{% endblock %}

{% block navbar %}
    <ul>
        <a href="teacher-import"><li><h2>Import</h2></li></a></li>
        <a href="teacher-home"><li><h2>Groups</h2></li></a></li>
        <a href="teacher-assignments"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}


{% block body %}
    <div class="table">
        <table class="imports">
            <tr>
                <th id="mainHeader">{% block name %}Scripts{% endblock %}</th>
                <th id="secondHeader">
                    {% block secHeader %}{% endblock %}
                </th>
            </tr>
            {% block data %}
                {% for i in scripts %}
                    <tr>
                        <td>{{ i }}</td>
                        <td><input type="checkbox" class="ckeckboxes"></td>
                    </tr>
                {% endfor %}
            {% endblock %}
        </table>
        <div class="btn-start">
            <div>
                <input class="start"type="button" value="Select all" href="import">
                <input class="start"type="button" value="Unselect all" href="import">
            </div>
            {% block btnStart %}<a href="collection-progress"><input class="start" type="button" value="Start"></a>{% endblock %}
        </div>
    </div>
{% endblock %}