{% extends "teacher/collection-imports.html.twig" %}

{% block data %}
    {% for i in students %}
        <tr>
            <td>{{ i }}</td>
            <td><input type="checkbox" class="ckeckboxes"></td>
        </tr>
    {% endfor %}
{% endblock %}

{% block btnStart %}
    <input class="start" type="button" value="Download">
{% endblock %}