{% extends "teacher/collection-imports.html.twig" %}
{% block name %}Students{% endblock %}
{% block data %}
    {% for i in students %}
        <tr>
            <td>{{ i }}</td>
            <td id="userButton">
                <input type="checkbox" class="ckeckboxes">
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block btnSelect %}
    
{% endblock %}
{% block btnStart %}
    <div>
        <input class="start"type="button" value="Select all" href="import">
        <input class="start"type="button" value="Unselect all" href="import">
    </div>
    <div class="btnUsers">
        <input class="addNew" type="button" value="Add new"  onclick="location.href = 'teacher-add-student';">
        <input class="delete" type="button" value="Delete" onclick="alert('KYS');">
    </div>
{% endblock %}