{% extends "teacher/collection-imports.html.twig" %}
{% block name %}Students{% endblock %}
{% block secHeader %}
    <div id="groupName">Group Name</div>
    <div id="editBtns">
        <i class="fa-solid fa-pencil"></i>
        <i class="fa-solid fa-trash" id="deletebtn" onclick="alert('KYS');"></i>
    </div>
    <div style="clear: both;"></div>

{% endblock %}
{% block data %}
    {% for i in students %}
        <tr>
            <td>{{ i }}</td>
            <td id="userButton">
                <input type="checkbox" class="ckeckboxes">
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block btnSelect %}
    
{% endblock %}
{% block btnStart %}
<<<<<<< HEAD
    <div class="btn-start">
        <div class="btnSelect">
            <input class="start"type="button" value="Select all" href="import">
            <input class="start"type="button" value="Unselect all" href="import">
        </div>

        <div class="btnUsers">
            <input class="addNew" type="button" value="Add new" onclick="location.href='add-student'">
            <input class="delete" type="button" value="Delete" onclick="alert('KYS');">
        </div>
=======
    <div class="btnUsers">
        <input class="addNew" type="button" value="Add new"  onclick="location.href = 'teacher-add-student';">
        <input class="delete" type="button" value="Delete" onclick="alert('KYS');">
>>>>>>> 9f8ecbd332d89296a881f3470ea3f4622331aef2
    </div>
{% endblock %}