{% extends "form.html.twig" %}
{% block title %}
    New group
{% endblock %}

{% block navtext %}
    TEACHER
{% endblock %}

{% block navbar %}
    <ul>
        <a href="teacher-import"><li><h2>Import</h2></li></a></li>
        <a href="teacher-home"><li><h2>Groups</h2></li></a></li>
        <a href="teacher-assignments"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}

{% block listStudents %}
{% endblock %}

{% block actionName %}New group{% endblock %}

{% block content %}
    <h2 class="input-texts">Name: </h2>
    <input type="text">
{% endblock %}

{% block btnSubmit %}<input class="btn-send" type="submit" value="Create new Group">{% endblock %}