{% extends "main.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="css/group.css">
    <script src="js/group.js"></script>
{% endblock %}

{% block title %}
    Groups
{% endblock %}

{% block navtext %}
    TEACHER
{% endblock %}

{% block navbar %}
    <ul>
        <a href="import"><li><h2>Import</h2></li></a></li>
        <a href="group"><li><h2>Groups</h2></li></a></li>
        <a href="homeworks-index"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}

{% block body %}
    <div class="addGroup">
        <input class="newG" type="button" value="+" onclick="openPopup()">
    </div>
    <div class="cards-container">
        {% for i in name %}
            <div class="card" onclick="location.href='import'">
                <h2 class="group-name">{{ i }}</h4>
                <form method="post">
                    <div class="buttons">
                        <a href="group"><input class="button-r" type="button" value="Rename"></a>
                        <a href="group"><input class="button-d" type="button"value="Delete"></a>
                    </div>
                </form>
            </div>
        {% endfor %}
        <div class="popup" id="popup">
            <h2>Do you really want to delete the group?</h2>
            <button type="button" value="ok" onclick="closePopup()"></button>
        </div>
    </div>
{% endblock %}
