{% extends "menu.html.twig" %}
{% block navbar %}
    <ul>
        <a href="import"><li><h2>Import</h2></li></a></li>
        <a href="group"><li><h2>Groups</h2></li></a></li>
        <a href="homeworks-index"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}