{% extends "menu.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/teacher-import.css">
{% endblock %}

{% block title %}Import{% endblock %}

{% block navtext %}
    TEACHER
{% endblock %}

{% block navbar %}
    <ul>
        <a href="teacher-import"><li><h2>Import</h2></li></a></li>
        <a href="teacher-home"><li><h2>Groups</h2></li></a></li>
        <a href="teacher-assignments"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}

{% block body %}
<div class="import-table">
    {{ form_start(form) }}
        <h1>Import scripts</h1>
        <label for="import_form_importFile" id="multiple-files">
        Import
        </label>
        {{ form_widget(form.importFile) }}
    {{ form_end(form)}}
</div>
{% endblock %}