{% extends "form.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/teacher/add-student.css') }}">
{% endblock %}

{% block title %}
    Add students
{% endblock %}

{% block form_title %}Add Student{% endblock %}

{% block content %}
    <h2 class="input-texts">Name: </h2>
    <input type="text">
    <input class="btn-submit" type="submit" value="Add to group">
{% endblock %}


