{% extends "home.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/teacher-home.css">
{% endblock %}

{% block title %}
    Groups
{% endblock %}

{% block navtext %}
    TEACHER
{% endblock %}

{% block navbar %}
    <ul>
        <a href="teacher-import"><li><h2>Import</h2></li></a></li>
        <a href="teacher-home"><li><h2>Groups</h2></li></a></li>
        <a href="teacher-assignments"><li><h2>Homeworks/Tests</h2></li></a></li>
    </ul>
{% endblock %}

{% block page_header %}
    <div class="addGroup">
        <input class="newG" type="button" value="+" onclick="openPopup()">
    </div>
{% endblock %}
{% block card_href %}collection-students{% endblock %}
{% block card_content %}
<h2 class="group-name">{{ assignment|length > 10 ? assignment|slice(0, 8) ~ '...' : assignment}}</h2>    
{% endblock %}

{% block page_footer %}
    <div class="popup" id="popup">
        <h2>Do you really want to delete the group?</h2>
        <button type="button" value="ok" onclick="closePopup()"></button>
    </div>
{% endblock %}
