{% extends "menu.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/teacher-import.css">
{% endblock %}

{% block title %}Import{% endblock %}

{% block body %}
<div class="import-table">
    {{ form_start(form) }}
        <h1>Import scripts</h1>
        <label for="import_form_importFile" id="multiple-files">
        Import
        </label>
        {{ form_widget(form.importFile) }}
    {{ form_end(form)}}

    <div class="imports">
        <h2 id="script-name">Script.php</h2>
        <button id="delete-script">X</button>
    </div>
    <div class="imports">
        <h2 id="script-name">Script.php</h2>
        <button id="delete-script">X</button>
    </div>
    <div class="imports">
        <h2 id="script-name">Script.php</h2>
        <button id="delete-script">X</button>
    </div>

</div>
{% endblock %}