{% extends "menu.html.twig" %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/form.css">
{% endblock %}

{% block body %}
<main>
    <form action="{{ action }}" method="post">
        <h1 class="form-title">{% block form_title %}{% endblock %}</h2>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </form>
</main>
{% endblock %}