{% extends "menu.html.twig" %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/form.css">
{% endblock %}
{% block body %}
    <div class="div-form">
        <form method="post">
            <div class="div-content">
                <h1 class="name-form">{% block actionName %}{% endblock %}</h2>
                {% block content %}
                {% endblock %}
                {% block listStudents %}
                {% endblock %}
                <div class="btn-s">
                    {% block btnSubmit %}{% endblock %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}



