{% extends "menu.html.twig" %}
{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="css/home.css">
{% endblock %}

{% block title %}Home{% endblock %}

{% block body %}
<main>
    {% block page_header %}
    {% endblock %}
    <div class="cards-container">
        {% for assignment in assignments %}
        <div class="card" onclick="location.href='{% block card_href %}{% endblock %}'">
            {% block card_content %}
            {% endblock %}
        </div>
        {% endfor %}
    </div>
    {% block page_footer %}
    {% endblock %}
</main>
{% endblock %}
