<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    {% block style %}
    {% endblock %}
    <title>{% block title %}Main Page{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <h2 id="navtext">{% block navtext %}HW-INTERFACE{% endblock %}</h2>
        <ul>
            {% block navbar %}
            <a href="test"><li><h2>První</h2></li></a></li>
            <a href=""><li><h2>Druhý</h2></li></a></li>
            <a href=""><li><h2>Třetí</h2></li></a></li>
            <a href=""><li><h2>Čtvrtý</h2></li></a></li>
            <a href=""><li><h2>Pátý</h2></li></a></li>
            {% endblock %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>