<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
    <title>{% block title %}Main Page{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <h2 id="navtext"><a href="{{ asset(navhref) }}">{% block navtext %}HW-INTERFACE{% endblock %}</a></h2>
        <ul>
            {% block navbar %}
            <a href=""><li><h2>XYZ</h2></li></a></li>
            <a href=""><li><h2>XYZ</h2></li></a></li>
            <a href=""><li><h2>XYZ</h2></li></a></li>
            <a href=""><li><h2>XYZ</h2></li></a></li>
            {% endblock %}
        </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>